@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open Sans Condensed:300');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


html {
    min-height: 100%;
    
}

a {
    text-decoration: none;
}
.top-area {
    display: flex;
    justify-content: flex-start;  
    align-items: center;  
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    height: 5em;
    background-color: #070707;
}

.red-break {
    color: red;
}

.heading-nav {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    text-align: left;
    margin-left: 2em;
    padding-top: 0.3em;
}

.nav-button {
    position: fixed;
    top: 0;
    width: 3em;
    background: none;
    cursor: pointer;
    border: 0;
    height: 3em;
    margin: 0;
}

.nav-line {
    display: block;
    width: 1.5em;
    height: 0.1em;
    background-color: white;
    margin: 0.5em;
}

.nav-links {
    padding-top: 3em;
    display: flex;
    flex-direction: column;
}

.nav-links a{
    text-decoration: none;
}

.nav-links li {
    font-size: 2em;
    padding-top:0.8em;
    padding-bottom: 0.8em;
    padding-left: 0.5em;
}

.red-link a {
    color: red;
}

.blue-link a {
    color: #00e5ff;
}

.green-link a {
    color: #00FF1E;
}







body {
    background-color: #070707;
    font-family: "Oswald", sans-serif;
    position: relative;
    min-height: 100%;
}

.login-center-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

.option {
    color: white;
    background-color: #070707;
    width: 5em;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    border: 2px solid;
    margin: 1em;
}


.main-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5em;
}

button {
    font-family: "Oswald", sans-serif;
    width: 15em;
    height: 10vh;
    margin: 1em;
    font-size: 1.5em;
    border-radius: 1em;
    color: black;
}

.fear-button {
    width: 70vw;
    height: 5em;
   color: black;
   border: 5px solid;
}

.step-button {
    width: 55vw;
    height: 5em;
    color: white;
    background-color: black;
    border: 5px solid;
}

.new-fear-button {
    width: 2em;
}

.white-button button {
    font-weight: 500;
    font-size: 1.2em;
    width: 7em;
    height: 7vh;
}

.conquer-button button {
    color: red;
    background-color: #070707;
    border: 3px solid;
}

.explore-button button {
    color: #00e5ff;
    background-color: #070707;
    border: 3px solid;
}

.conquered-button button {
    color: #00FF1E;
    background-color: #070707;
    border: 3px solid;
}

h1 {
    position: absolute;  
    top: 45%;  
    left: 50%;  
    transform: translate(-50%, -50%); 
    color: white;
    text-align: center;

}

.conquer-title {
    color: red;
    font-weight: 400;
    white-space: nowrap;
}

.conquered-title {
    color: #00FF1E;
    font-weight: 400;
    white-space: nowrap;
}

.red-break {
    color: red;
}

.login-title {
    position: relative;
    top: 1em;
    left: 2.7em;
    transform: translate(-50%, -50%);
}

.motiv-text {
    color: white;
    font-family:'Open Sans Condensed', sans-serif;
    font-style: italic;
    padding: 0.8em;
    font-size: 1.5em;
}

.main-conquer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding-top: 5em;
}

.direction-text {
    color: white;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 1.8em;
    padding: 1em 1em 0.5em 1em;
}

.example-text {
    color: white;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 1.2em;
    padding: 1em;
}

.new-fear-group {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    min-height: 80vh;
}

.new-fear-questions {
    display: flex;
}

.text-input {
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 1.4em;
    width: 80vw;
    height: 25vh;
    background-color: #070707;
    color: white;
    outline: none;
    border: 2px solid #FFFFFF;
    border-radius: 0.5em;
    text-align: left;
    padding: 10px;
    resize: none;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-group {
    display: flex;
    flex-direction: row;
}

.button-group button {
    width: 20vw;
    height: 7vh;
    border-radius: 10em;
    border: 2px solid;
    color: white;
    background-color:#070707;
    margin: 0.5em;

}



.radio-label input[type="radio"] {
    display: none;
}

.radio-label input[type="radio"]:checked + span {
    color: black;
    background-color: white;
}

.login-with-google-btn {
    cursor: pointer;
    border: none;
    height: 8vh;
    width: 10em;
}

.google-logo {
    padding-right: 10px;
}



.nav-bar {
    position: fixed;
    background-color: #232323;
    width: 30em;
    height: 100vh;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
}

dialog::backdrop {
    background-color: rgb(0,0,0,0.7);
}

.user-and-signout {
    padding-top: 2em;
    padding-left: 0em;
}

.nav-user {
    color: white;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 1.8em;
    padding-left: 0.5em;
}

.sign-out {
    background-color: #232323;
    border: 1px white solid;
    color: white;
    font-family: "Open Sans Condensed", sans-serif;
    width: 5em;
    height: 2em;
    border-radius: 0.5em;
    margin-left: 0.5em;
    margin-top: 0.5em;
}

.is-complete {
    font-weight: 300;
    font-size: 0.7em;
    padding: 0.2em;
}

@media (max-width: 600px) {
    .nav-line {
        width: 1.1em;
        margin-top: 0.4em;
        margin-bottom: 0.4em;
    }
    .fear-button {
        margin: 0.5em;
        width: 90vw;
        font-size: 1.2em;
    }
    .step-button {
        margin: 0.5em;
        width: 70vw;
        height: 6em;
        font-size: 1.2em;
        border: 2px solid;
    }
    
}